.profile-container{
    overflow: hidden;
}


.profile-picture {
    height: 80px;
    width: 80px;
    border: solid 1px;
    object-fit: cover;
    z-index: 999;
}

.profile-info{
    z-index: 5;
    color: rgb(255, 255, 255);
    font-weight:bolder;
}
.userShowUsername {
    font-weight: 600;
  }

.class-of,.membership-status{
    font-size: 18px;
}

.content-title{
    font-size: 1.15rem;
    font-weight: 600;
}

.about-detail{
    font-weight: 600;
    font-size: 18px;
}

.about-label{
    font-size: 18px;
}

.banner{
    height: 15%;
    position: relative;
    background:url("../../assets/school.png") no-repeat center;
    background-size: cover;
    clear: both;
    margin: 0;
    overflow-x: hidden;
    aspect-ratio: 4 / 3;
}

.banner::before{
    position: absolute;
    content: '';
    width: 100%;
    background: black;
    height: 100%;
    opacity: 0.7;
}